<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                    http://www.springframework.org/schema/context
                    http://www.springframework.org/schema/context/spring-context-3.2.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="hello" class="io.lvxy.aop.Hello"/>
    <bean id="myMsg" class="io.lvxy.aop1.MyMsg"/>
    <bean id="notice" class="io.lvxy.aop1.Notice"/>

    <bean id="testaop1" class="io.lvxy.aop1.Aop1"/>
    <bean id="testaop2" class="io.lvxy.aop1.Aop2"/>

    <aop:config>
        <aop:pointcut id="testp1" expression="execution(* io.lvxy.aop.*.*(..))"/>
        <aop:aspect ref="testaop1">
            <aop:around method="around" pointcut-ref="testp1"/>

            <aop:before method="beforeSay" pointcut-ref="testp1"/>
            <aop:after-returning method="afterSay" pointcut-ref="testp1"/>
        </aop:aspect>
    </aop:config>

    <aop:aspectj-autoproxy/>

</beans>